In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
#additions: 
#1. price high on weekends , low on weekdays

data = pd.read_excel("Data_Train.xlsx")
#print(data[['Airline' , 'Source' , 'Destination']].head())
#print(data)

data.info()

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
#dropping null values
data.dropna(inplace = True)

In [ ]:
#day of travel
data["Day_Of_Travel"] = pd.to_datetime(data.Date_of_Journey , format="%d/%m/%Y").dt.day
#month of travel
data["Month_Of_Travel"] = pd.to_datetime(data.Date_of_Journey , format="%d/%m/%Y").dt.month

#print(data[['Airline' , 'Day_Of_Travel']])

In [ ]:
#departure time
data["Dep_hour"] = pd.to_datetime(data["Dep_Time"]).dt.hour
data["Dep_min"] = pd.to_datetime(data["Dep_Time"]).dt.minute

In [ ]:
#arrival time
data["Arrival_hour"] = pd.to_datetime(data["Arrival_Time"]).dt.hour
data["Arrival_min"] = pd.to_datetime(data["Arrival_Time"]).dt.minute

In [ ]:
#converting the duration from string to actual hours and mins
duration = list(data["Duration"])

for i in range(len(duration)):
    if len(duration[i].split()) != 2:
        if "h" in duration[i]:
            duration[i] = duration[i] + " 0m"
        else:
            duration[i] = "0h " + duration[i] 

duration_hours = []
duration_mins = []

for i in range(len(duration)):
    duration_hours.append(int(duration[i].split(sep =  "h")[0]))
    duration_mins.append(int(duration[i].split(sep = "m")[0].split()[-1]))


data["Duration_Hours"] = duration_hours
data["Duration_Mins"] = duration_mins

In [ ]:
#airlines are part of nominal data , so we will use the technique of one hot encoding
#we will have to feed the model in binary format not in string format
#get_dummies is the function used for one hot encoding
airline = data[["Airline"]]
airline = pd.get_dummies(airline , drop_first = True)
airline.head()

In [ ]:
sns.catplot(y = 'Price' , x = 'Source')
plt.show()